.idea-design {
    margin-left: 15.4%;
    padding-top: 3%;
} 
.header-design {
    margin-left: 6.4%;
} 
.test {
    margin-left: 0.2%;
    float: left;
    width: 35px;
    height: 25px;
    background-color: green;
    cursor: pointer;
  }