.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aligning{
  margin-top: 50px;
  float:none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.task-table{
  margin-top: 50px;
  padding-bottom: 20px;
}

/* grid card */
.stretch-card>.card {
  width: 100%;
  min-width: 100%
}

body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 3rem !important
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
}

.card .card-header+.card-block, .card .card-header+.card-block-big {
  padding-top: 0;
}

.card-block {
  padding: 1.25rem;
  background-color: #fff;
}

.m-b-20 {
  margin-bottom: 20px;
}

.card-sub {
  cursor: move;
  border: none;
  -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
}

.card-block {
  padding: 1.25rem;
  background-color: #fff;
}

.handle{
  cursor: pointer;
}

.size{
  width: 20%;
  max-height: 20%;
}

body{
  background-color: #eee;
}
.main{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f6f6f6;
}
.one{
  width: 270px;
  background-color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic1{
  position: relative;
  right: 22px;
  top: 23px;
}
.pic2{
  position: relative;
  left: 25px;
  top: 17px;
}
.pic3{
  position: relative;
  right: 13px;
  bottom: 18px;
}
.pic4{
  position: relative;
  left: 14px;
  bottom: 21px;
}
.project{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fd4040;
}
.quote{
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;

}




.two{
  width: 270px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.star{
  font-size: 20px !important;
  color: #b1b4b7;
}
.dot{
  font-size: 20px !important;
  color: #b1b4b7;
}
.name{
  color: #0f1112;
  font-style: inherit;
  text-align: left;
}
.quote2{
   font-size: 12px;
   font-weight: 500;
   text-align: left;
   color: #AAB7B8;
}
.task{
   color: #727475;
}
.date{
   color: #727475;
}
.imgfix{
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 2px;
}
.wrappers{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 3em; */
  overflow: hidden;
  font-weight: bold;
  
}

.wrappers:hover {
  word-wrap: break-word;
  overflow: visible;
  white-space: normal;
}
